<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="margin-left: 10px; align-content: center;">  Fibonacci Sequence Calculator</span>
</div>

<div style="margin-top: 90px; text-align: center">
  <label class="md-inputlabel-2">index n: </label>
  <input type="number" pInputText pTooltip="Enter a number" (ngModelChange)="clear()"
         [(ngModel)]="nthNum">
  <button pButton type="button" label="Generate" style="margin-left: 10px"
          class="default-btn square" (click)="generate()"></button>
</div>

<div style="margin-top: 25px; text-align: center">
  <span class="p-ml-2" *ngIf="result && tempNum !== 1">{{counter-1}}-th term: {{result}}</span>
  <div class="result" *ngIf="tempNum === 1">{{counter-1}}-th term: {{result}}</div>
  <span class="p-ml-2" *ngIf="!result">{{message}}</span>
</div>

